.App {
  text-align: center;
}



.App-header {


  /* background-color: wheat; */

  background: linear-gradient(90deg,
  rgb(12, 18, 18) 0%,
  rgb(80, 89, 49) 46%,
  rgb(127, 186, 176) 100%
);



    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}



/* canvas { 
    border: 1px solid black;
} */


